:root {
  font-family: $poppins, sans-serif;
  font-weight: 400;
}

h1{
  font-size: $xxx-large;
  font-weight: 700;
  font-family: $poppins, sans-serif;
}

h2{
  font-size: $xx-large;
  font-weight: 600;
  font-family: $poppins, sans-serif;
}

h3{
  font-size: $x-large;
  font-weight: 500;
  font-family: $poppins, sans-serif;
}

span{
  font-size: $large;
  font-weight: 500;
  font-family: $poppins, sans-serif;
}

p{
  font-size: $medium;
  font-weight: 400;
  font-family: $poppins, sans-serif;
}

i{
  color: $primary;
}