// Font families
$poppins: "Poppins", sans-serif;

//Colors
$dark: #17153B;
$primary: #433D8B;
$light-purple: #dec6ec;

//Font sizes
$xxx-large: 30px;
$xx-large: 28px;
$x-large: 24px;
$large: 16px;
$medium: 16px;

//Margen para textos
$whitespace-margin: 3rem;

$body-bg: $light-purple;
$input-bg: #ffffff;


